@page {
    size: A4;
}

h1, h2, h3, h4, h5 {
    page-break-after: avoid;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #bbb;
}

main {
    display: flex;
}

section {
    border-bottom: 2px solid #bbb;
    page-break-inside: avoid;
}

aside section {
    border-bottom: none;
}
